
    .btn-ios{
        display: inline-block;
        width: 14rem;
        padding: 1rem 0rem;
        text-align: center;
        background-color: $cyan;
        border: none;
        border-radius: 50px;
        margin: 2rem 0.3rem;

        @media screen and (max-width:1024px){
            width: 13rem;
        }
        
        @media screen and (max-width:768px){
            width: 75%;
            margin: 2rem auto 1.5rem auto;
            padding: 1.5rem 0;;
        }
        a{
            text-decoration: none;
            color: $white;
            font-size: 1rem;

            @media screen and (max-width:768px){
                font-size: 1.5rem;
            }
        }
        &:hover{
            background-color: #20d6bb;
        }
    }

    .btn-mac{
        background-color: $Light-Blue;
        @extend .btn-ios;

        &:hover{
            background-color: #0f24c5;
        }

        @media screen and (max-width:1024px){
            margin-top: 0rem;
    }
}
